.gradle
build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.class
*.png
*.log
addressbook-web-tests/out/test/resources/contacts.json
addressbook-web-tests/out/test/resources/contacts.xml
addressbook-web-tests/out/test/resources/groups.json
addressbook-web-tests/out/test/resources/groups.xml
